altair==4.1.0
astropy==5.2.1
beautifulsoup4
biopython==1.78
hydralit==1.0.14
hydralit_components==1.0.10
joblib
matplotlib
modlamp==4.3.0
numpy==1.23.5
openpyxl==3.1.1
pandas
plotly
scikit-learn
seaborn==0.12.2
streamlit==1.18.1
statsmodels==0.13.5
streamlit==1.18.1
streamlit-aggrid==0.3.3
streamlit-lottie==0.0.3
streamlit-option-menu==0.3.2

